extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="" class='img-fluid')
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu facilisis ante, pulvinar tempor orci. Nam suscipit turpis est, sit amet consequat urna dapibus quis. Nunc placerat vitae felis non posuere. Maecenas placerat enim et vulputate aliquet. Vivamus posuere metus odio, ut tempus metus congue maximus. Phasellus massa dui, faucibus in feugiat sit amet, tempor sit amet mi. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sodales mi in nibh interdum, a pulvinar sem pharetra. Proin eu ornare odio.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nisl dolor. Donec tincidunt tellus eu massa condimentum, vel vehicula nunc efficitur. Etiam lacinia dapibus nibh, at viverra neque egestas non. Maecenas in quam blandit, cursus mauris quis, tempus ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                p Morbi vestibulum sagittis vehicula. Praesent id metus non enim pretium dapibus vel id quam. Quisque elementum, elit at ultricies consequat, tellus sapien fringilla tellus, nec tincidunt ex mi a nisl. Suspendisse nec mauris quam. Quisque viverra varius ultricies. Sed turpis ipsum, efficitur at dignissim ut, tincidunt ac velit. Nullam dictum ultrices tellus ac maximus. Quisque non tortor in eros euismod vestibulum. Vestibulum vehicula dictum massa sed ullamcorper.


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4.mt-4 Seguridad 
                    p Morbi vestibulum sagittis vehicula. Praesent id metus non enim pretium dapibus vel id quam. Praesent id metus non enim pretium dapibus vel id quam.
                
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4.mt-4 Mejores Destinos 
                    p Morbi vestibulum sagittis vehicula. Praesent id metus non enim pretium dapibus vel id quam. Praesent id metus non enim pretium dapibus vel id quam.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios")
                    h2.mb-4.mt-4 Mejores Precios 
                    p Morbi vestibulum sagittis vehicula. Praesent id metus non enim pretium dapibus vel id quam. Praesent id metus non enim pretium dapibus vel id quam.



























